@import '../../styles/variables.scss';

.button {
  display: inline-block;
  height: 40px;
  width: 160px;
  text-align: center;
  color: $text-light;
  background-color: $button-main;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
  cursor: pointer;

  @media (hover: hover) {
    &:hover {
      background-color: $button-hover;
    }
  }

  &:disabled {
    background-color: $button-disabled;
  }
}
