@charset "utf-8";

:root {
  --primary--major: #0085ff;
  --primary--hover: #2d85d8;
  --primary--tiny: #d9edfe;

  --secondary--major: #00b982;
  --secondary--hover: #019f73;
  --secondary--tiny: #96ffde;

  --tertiary--major: #000000;
  --tertiary--hover: #1a1a1a;
  --tertiary--tiny: #d3d3d3;

  --element--background--hover: #ececec;
  --element--background-border--disabled: #e5e5e5;
  --element--background: #f5f5f5;
  --element--border: #c0c0c0;
  --element--border--hover: #aaaaaa;
  --element--placeholder: #aaaaaa;

  --text--disabled: #aaa;
  --text--hover: #808080;
  --text--major: #333;
  --text--minor: #999;
  --text--invert: #fff;

  --error--major: #e0002c;
  --success--major: #2dd283;
  --warning--major: #f5cd0c;
  --info--major: #3fa9e1;

  --positive--major: #33af47;
  --negative--major: #dc3030;
}
