/*-- Header --*/

$header-height: 60px;

/*-- Padding --*/

$padding--element--medium: 0.7rem 1rem;
$padding--element--medium--equal: 0.7rem;
$padding--element--small: 0.5rem 0.85rem;
$padding--element--small--equal: 0.5rem;
$padding--element--large: 1rem 1.5rem;
$padding--element--large--equal: 1rem;
$padding--link: 0.3rem 0.5rem;
