/*-- Header --*/

$header-height: 60px;

/*-- Padding --*/

$padding--element--medium: .7rem 1rem;
$padding--element--medium--equal: .7rem;
$padding--element--small: .5rem .85rem;
$padding--element--small--equal: .5rem;
$padding--element--large: 1rem 1.5rem;
$padding--element--large--equal: 1rem;
$padding--link: .3rem .5rem;
